Flujos NodeRed/API WhatsApp.json
[
    {
        "id": "cbb57be22a1f9111",
        "type": "tab",
        "label": "API WhatsApp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "782a379ad3602d2a",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "cbb57be22a1f9111",
        "name": "Ceramica message",
        "credtype": "account",
        "account": "dddadcc2386205dc",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "b9c0ac9dc6ea39aa"
            ]
        ]
    },
    {
        "id": "b0b8fff32d0cdf9e",
        "type": "inject",
        "z": "cbb57be22a1f9111",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "87e2044c96fa1f29"
            ]
        ]
    },
    {
        "id": "b9c0ac9dc6ea39aa",
        "type": "debug",
        "z": "cbb57be22a1f9111",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "87e2044c96fa1f29",
        "type": "template",
        "z": "cbb57be22a1f9111",
        "name": "Mensaje",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Peligro, Fuego!",
        "output": "str",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "782a379ad3602d2a"
            ]
        ]
    },
    {
        "id": "dddadcc2386205dc",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "CeramicaRH"
    }
]