Flujos NodeRed/Smart Environment.json
[
    {
        "id": "c5dd4d1f0fac238f",
        "type": "tab",
        "label": "Smart Environment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29b332c3632b4e2b",
        "type": "mqtt in",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "topic": "utng/ceramica/humi",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fd445e5769d0f484",
                "b85631bcbb687a67",
                "a64130bb2cfdd806",
                "c5bc410c0295db06"
            ]
        ]
    },
    {
        "id": "fd445e5769d0f484",
        "type": "debug",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "00c4f3b466db3053",
        "type": "ui_text",
        "z": "c5dd4d1f0fac238f",
        "group": "8b405a98dee5d4b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature Value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "ffdce1e7aa954b65",
        "type": "postgresql",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(2,1, '{{msg.payload}}');",
        "postgreSQLConfig": "9277f660ec41eacb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "fd445e5769d0f484"
            ]
        ]
    },
    {
        "id": "b85631bcbb687a67",
        "type": "ui_chart",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "8b405a98dee5d4b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Use Status ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a64130bb2cfdd806",
        "type": "ui_gauge",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "8b405a98dee5d4b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Value:",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "0f04ece05ad31ba1",
        "type": "comment",
        "z": "c5dd4d1f0fac238f",
        "name": "HUMIDITY",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "782a937f0dcc7f86",
        "type": "mqtt in",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "topic": "utng/ceramica/potho",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "d2ba9aaf1588fbeb",
                "7412122ef7c3bb32",
                "9ac0ddaeed59d3d4",
                "146e1aebb29dc22d"
            ]
        ]
    },
    {
        "id": "d2ba9aaf1588fbeb",
        "type": "debug",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 560,
        "wires": []
    },
    {
        "id": "f751e4da4e08534c",
        "type": "ui_text",
        "z": "c5dd4d1f0fac238f",
        "group": "c382f166c818e372",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Photoresistor Value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a846ba7cf1ae016",
        "type": "postgresql",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(3,1, '{{msg.payload}}');",
        "postgreSQLConfig": "2304decd22577fdb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "d2ba9aaf1588fbeb"
            ]
        ]
    },
    {
        "id": "7412122ef7c3bb32",
        "type": "ui_chart",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "c382f166c818e372",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Use Status ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "3000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac0ddaeed59d3d4",
        "type": "ui_gauge",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "c382f166c818e372",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Value:",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 640,
        "wires": []
    },
    {
        "id": "9beb904fc9ca4802",
        "type": "comment",
        "z": "c5dd4d1f0fac238f",
        "name": "PHOTORESISTOR",
        "info": "",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "0a38d32876ab3b3a",
        "type": "mqtt in",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "topic": "utng/ceramica/fire",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "5abdff703ea5c583",
                "250f0ebb1d48c56f",
                "c2d9622b0608238c",
                "b84a2477e3c392a8"
            ]
        ]
    },
    {
        "id": "5abdff703ea5c583",
        "type": "debug",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 860,
        "wires": []
    },
    {
        "id": "e3aa22c7db3fe5cf",
        "type": "ui_text",
        "z": "c5dd4d1f0fac238f",
        "group": "41f93f92037b35dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flame Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "50cafa03ec9f0728",
        "type": "postgresql",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(4,1, '{{msg.payload}}');",
        "postgreSQLConfig": "2304decd22577fdb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 800,
        "wires": [
            [
                "5abdff703ea5c583"
            ]
        ]
    },
    {
        "id": "b84a2477e3c392a8",
        "type": "function",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 780,
        "wires": [
            [
                "50cafa03ec9f0728",
                "e3aa22c7db3fe5cf"
            ]
        ]
    },
    {
        "id": "250f0ebb1d48c56f",
        "type": "ui_chart",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "41f93f92037b35dc",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Use Status ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-1",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "c2d9622b0608238c",
        "type": "ui_gauge",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "41f93f92037b35dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Value:",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "3d0289874cd9b2c5",
        "type": "comment",
        "z": "c5dd4d1f0fac238f",
        "name": "FLAME",
        "info": "",
        "x": 130,
        "y": 740,
        "wires": []
    },
    {
        "id": "146e1aebb29dc22d",
        "type": "function",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 480,
        "wires": [
            [
                "2a846ba7cf1ae016",
                "f751e4da4e08534c"
            ]
        ]
    },
    {
        "id": "c5bc410c0295db06",
        "type": "function",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "ffdce1e7aa954b65",
                "00c4f3b466db3053"
            ]
        ]
    },
    {
        "id": "894951dafb5e412e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8b405a98dee5d4b5",
        "type": "ui_group",
        "name": "Smart Environment H&T",
        "tab": "744fe0dc56bad1f3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9277f660ec41eacb",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "ceramica",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "c382f166c818e372",
        "type": "ui_group",
        "name": "Smart Environment Photo",
        "tab": "744fe0dc56bad1f3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2304decd22577fdb",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "ceramica",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "41f93f92037b35dc",
        "type": "ui_group",
        "name": "Smart Environment Flame",
        "tab": "744fe0dc56bad1f3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "744fe0dc56bad1f3",
        "type": "ui_tab",
        "name": "Ceramica",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]