Flujos NodeRed/Todos los Flujos.json
[
    {
        "id": "74d9c1a0f1ad25d7",
        "type": "tab",
        "label": "Smart bathroom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c5dd4d1f0fac238f",
        "type": "tab",
        "label": "Smart Environment",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d2d0a66d746cf0c",
        "type": "tab",
        "label": "ControlLuces",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cbb57be22a1f9111",
        "type": "tab",
        "label": "API WhatsApp",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a8df93bbfa4bd837",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "true",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5455de498f637fa7",
        "type": "mqtt-broker",
        "name": "BrokerPublico",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "ae636da0dfdc79fc",
        "type": "remote-config",
        "name": "Control de Baño",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/ui",
        "instancehash": "qc75trf03ss9botz8nrqw61903n0ras0421vxc0d7jq7aswo4j5pubdjg0zvxlid",
        "server": "nodered02.remote-red.com",
        "region": "de"
    },
    {
        "id": "ea96415bf53679b8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.emqx.io",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "f4ff194365b7a5ba",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e8ee7e9d7f9aa488",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.43.135",
        "port": "1883",
        "clientid": "rh",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "6b5d7b9196a2b46a",
        "type": "sqlitedb",
        "db": "C:\\Users\\herre\\crudname.db",
        "mode": "RWC"
    },
    {
        "id": "17cfd7b3cb61f183",
        "type": "postgreSQLConfig",
        "name": "aiot_connection",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "aiot",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "766217f8c4dac590",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "mysql",
        "tz": "",
        "charset": "UTF8"
    },
    {
        "id": "a012d35818d4e644",
        "type": "postgreSQLConfig",
        "name": "crud_connection",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "tienda",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "894951dafb5e412e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "9277f660ec41eacb",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "ceramica",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "8437892a613b4203",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "267524bfcf50d211",
        "type": "mqtt-broker",
        "name": "",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "744fe0dc56bad1f3",
        "type": "ui_tab",
        "name": "Ceramica",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d2d1453bedd305b3",
        "type": "ui_group",
        "name": "Smart Bathroom",
        "tab": "744fe0dc56bad1f3",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8b405a98dee5d4b5",
        "type": "ui_group",
        "name": "Smart Environment H&T",
        "tab": "744fe0dc56bad1f3",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2304decd22577fdb",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "localhost",
        "hostFieldType": "str",
        "port": "5432",
        "portFieldType": "num",
        "database": "ceramica",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": "10",
        "maxFieldType": "num",
        "idle": "1000",
        "idleFieldType": "num",
        "connectionTimeout": "10000",
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "1234",
        "passwordFieldType": "str"
    },
    {
        "id": "d6f5f332907ad7fe",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "compatmode": false,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "047f5c79eca375f8",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dddadcc2386205dc",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "CeramicaRH"
    },
    {
        "id": "80b99021.9a4",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "WhatsApp API Account"
    },
    {
        "id": "1c5f6bf53aa41990",
        "type": "node-red-contrib-whatsapp-cmb-account",
        "name": "Mi movil"
    },
    {
        "id": "c382f166c818e372",
        "type": "ui_group",
        "name": "Smart Environment Photo",
        "tab": "744fe0dc56bad1f3",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "41f93f92037b35dc",
        "type": "ui_group",
        "name": "Smart Environment Flame",
        "tab": "744fe0dc56bad1f3",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d251153bd60f35bb",
        "type": "ui_group",
        "name": "KY-019",
        "tab": "153bc5f9da80fc8e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "153bc5f9da80fc8e",
        "type": "ui_tab",
        "name": "Relay",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "dc153b694bf6cbc5",
        "type": "remote-access",
        "z": "74d9c1a0f1ad25d7",
        "confignode": "ae636da0dfdc79fc",
        "name": "",
        "verbose": 0,
        "x": 100,
        "y": 40,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "da059cb989aba2e4",
        "type": "mqtt in",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "topic": "utng/ceramica/equipo1",
        "qos": "2",
        "datatype": "auto",
        "broker": "047f5c79eca375f8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 200,
        "y": 180,
        "wires": [
            [
                "872aa43f89d80bd1",
                "9e061f0ff11481ab",
                "a45dac0c74efdad2",
                "675df7498e7775dc"
            ]
        ]
    },
    {
        "id": "7f1a341929ea7ab9",
        "type": "mqtt out",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "topic": "utng/ceramica/equipo1",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "047f5c79eca375f8",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "872aa43f89d80bd1",
        "type": "debug",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 550,
        "y": 200,
        "wires": []
    },
    {
        "id": "af7fb11f023eaee1",
        "type": "inject",
        "z": "74d9c1a0f1ad25d7",
        "name": "temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 190,
        "y": 360,
        "wires": [
            [
                "276be7ce7811834d"
            ]
        ]
    },
    {
        "id": "276be7ce7811834d",
        "type": "function",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "func": "global.set(\"switch\", !global.get(\"switch\"));\nmsg.payload=global.get(\"switch\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"switch\", false);",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 360,
        "wires": [
            [
                "7f1a341929ea7ab9"
            ]
        ]
    },
    {
        "id": "5b4e9157bcf6a385",
        "type": "ui_text",
        "z": "74d9c1a0f1ad25d7",
        "group": "d2d1453bedd305b3",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Toilet Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "9e061f0ff11481ab",
        "type": "function",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "func": "msg.payload = msg.payload==\"1\"?\"Ocupado\":\"Disponible\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 40,
        "wires": [
            [
                "5b4e9157bcf6a385",
                "7a72776e954c6b06"
            ]
        ]
    },
    {
        "id": "45e4030a687fa08c",
        "type": "postgresql",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(1,1, '{{msg.payload}}');",
        "postgreSQLConfig": "2304decd22577fdb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 650,
        "y": 100,
        "wires": [
            [
                "872aa43f89d80bd1"
            ]
        ]
    },
    {
        "id": "7a72776e954c6b06",
        "type": "function",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "func": "msg.payload = msg.payload=='Ocupado'?1.0:0.0;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 120,
        "wires": [
            [
                "45e4030a687fa08c"
            ]
        ]
    },
    {
        "id": "a45dac0c74efdad2",
        "type": "ui_chart",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "group": "d2d1453bedd305b3",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Use Status ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-1",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 610,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "675df7498e7775dc",
        "type": "ui_gauge",
        "z": "74d9c1a0f1ad25d7",
        "name": "",
        "group": "d2d1453bedd305b3",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Value:",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 370,
        "y": 280,
        "wires": []
    },
    {
        "id": "29b332c3632b4e2b",
        "type": "mqtt in",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "topic": "utng/ceramica/humi",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 160,
        "wires": [
            [
                "fd445e5769d0f484",
                "b85631bcbb687a67",
                "a64130bb2cfdd806",
                "c5bc410c0295db06"
            ]
        ]
    },
    {
        "id": "fd445e5769d0f484",
        "type": "debug",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 470,
        "y": 200,
        "wires": []
    },
    {
        "id": "00c4f3b466db3053",
        "type": "ui_text",
        "z": "c5dd4d1f0fac238f",
        "group": "8b405a98dee5d4b5",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Temperature Value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 530,
        "y": 40,
        "wires": []
    },
    {
        "id": "ffdce1e7aa954b65",
        "type": "postgresql",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(2,1, '{{msg.payload}}');",
        "postgreSQLConfig": "9277f660ec41eacb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 570,
        "y": 100,
        "wires": [
            [
                "fd445e5769d0f484"
            ]
        ]
    },
    {
        "id": "b85631bcbb687a67",
        "type": "ui_chart",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "8b405a98dee5d4b5",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Use Status ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 530,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "a64130bb2cfdd806",
        "type": "ui_gauge",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "8b405a98dee5d4b5",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Value:",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 290,
        "y": 280,
        "wires": []
    },
    {
        "id": "0f04ece05ad31ba1",
        "type": "comment",
        "z": "c5dd4d1f0fac238f",
        "name": "HUMIDITY",
        "info": "",
        "x": 120,
        "y": 80,
        "wires": []
    },
    {
        "id": "782a937f0dcc7f86",
        "type": "mqtt in",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "topic": "utng/ceramica/potho",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 520,
        "wires": [
            [
                "d2ba9aaf1588fbeb",
                "7412122ef7c3bb32",
                "9ac0ddaeed59d3d4",
                "146e1aebb29dc22d"
            ]
        ]
    },
    {
        "id": "d2ba9aaf1588fbeb",
        "type": "debug",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 560,
        "wires": []
    },
    {
        "id": "f751e4da4e08534c",
        "type": "ui_text",
        "z": "c5dd4d1f0fac238f",
        "group": "c382f166c818e372",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Photoresistor Value:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 520,
        "y": 400,
        "wires": []
    },
    {
        "id": "2a846ba7cf1ae016",
        "type": "postgresql",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(3,1, '{{msg.payload}}');",
        "postgreSQLConfig": "2304decd22577fdb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 550,
        "y": 460,
        "wires": [
            [
                "d2ba9aaf1588fbeb"
            ]
        ]
    },
    {
        "id": "7412122ef7c3bb32",
        "type": "ui_chart",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "c382f166c818e372",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Use Status ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "3000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 510,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "9ac0ddaeed59d3d4",
        "type": "ui_gauge",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "c382f166c818e372",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Value:",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "3000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 270,
        "y": 640,
        "wires": []
    },
    {
        "id": "9beb904fc9ca4802",
        "type": "comment",
        "z": "c5dd4d1f0fac238f",
        "name": "PHOTORESISTOR",
        "info": "",
        "x": 350,
        "y": 360,
        "wires": []
    },
    {
        "id": "0a38d32876ab3b3a",
        "type": "mqtt in",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "topic": "utng/ceramica/fire",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 820,
        "wires": [
            [
                "5abdff703ea5c583",
                "250f0ebb1d48c56f",
                "c2d9622b0608238c",
                "b84a2477e3c392a8"
            ]
        ]
    },
    {
        "id": "5abdff703ea5c583",
        "type": "debug",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 860,
        "wires": []
    },
    {
        "id": "e3aa22c7db3fe5cf",
        "type": "ui_text",
        "z": "c5dd4d1f0fac238f",
        "group": "41f93f92037b35dc",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Flame Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 540,
        "y": 700,
        "wires": []
    },
    {
        "id": "50cafa03ec9f0728",
        "type": "postgresql",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(4,1, '{{msg.payload}}');",
        "postgreSQLConfig": "2304decd22577fdb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 800,
        "wires": [
            [
                "5abdff703ea5c583"
            ]
        ]
    },
    {
        "id": "b84a2477e3c392a8",
        "type": "function",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 780,
        "wires": [
            [
                "50cafa03ec9f0728",
                "e3aa22c7db3fe5cf"
            ]
        ]
    },
    {
        "id": "250f0ebb1d48c56f",
        "type": "ui_chart",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "41f93f92037b35dc",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Use Status ",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "-1",
        "ymax": "2",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 550,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "c2d9622b0608238c",
        "type": "ui_gauge",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "group": "41f93f92037b35dc",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Value:",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 310,
        "y": 940,
        "wires": []
    },
    {
        "id": "3d0289874cd9b2c5",
        "type": "comment",
        "z": "c5dd4d1f0fac238f",
        "name": "FLAME",
        "info": "",
        "x": 130,
        "y": 740,
        "wires": []
    },
    {
        "id": "146e1aebb29dc22d",
        "type": "function",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 480,
        "wires": [
            [
                "2a846ba7cf1ae016",
                "f751e4da4e08534c"
            ]
        ]
    },
    {
        "id": "c5bc410c0295db06",
        "type": "function",
        "z": "c5dd4d1f0fac238f",
        "name": "",
        "func": "msg.payload = msg.payload;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "ffdce1e7aa954b65",
                "00c4f3b466db3053"
            ]
        ]
    },
    {
        "id": "90e44c5eb9c7b972",
        "type": "mqtt in",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "topic": "utng/svc/ky-019",
        "qos": "2",
        "datatype": "auto",
        "broker": "894951dafb5e412e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 260,
        "wires": [
            [
                "1451eee8b2f5d2ed",
                "1a65d3f5fd43e7ff"
            ]
        ]
    },
    {
        "id": "424249b57f72b4a2",
        "type": "mqtt out",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "topic": "utng/svc/ky-019",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "894951dafb5e412e",
        "x": 460,
        "y": 380,
        "wires": []
    },
    {
        "id": "1451eee8b2f5d2ed",
        "type": "debug",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 650,
        "y": 340,
        "wires": []
    },
    {
        "id": "cdccfb1e9c938888",
        "type": "inject",
        "z": "6d2d0a66d746cf0c",
        "name": "temp",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "f08bc03368b894a9"
            ]
        ]
    },
    {
        "id": "f08bc03368b894a9",
        "type": "function",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "func": "global.set(\"switch\", !global.get(\"switch\"));\nmsg.payload=global.get(\"switch\");\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nglobal.set(\"switch\", false);",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 380,
        "wires": [
            [
                "424249b57f72b4a2"
            ]
        ]
    },
    {
        "id": "a9560501dd518982",
        "type": "ui_switch",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "label": "switch",
        "tooltip": "",
        "group": "d251153bd60f35bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "424249b57f72b4a2"
            ]
        ]
    },
    {
        "id": "0ac1dee14f134c28",
        "type": "ui_text",
        "z": "6d2d0a66d746cf0c",
        "group": "d251153bd60f35bb",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Relay Status:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 530,
        "y": 120,
        "wires": []
    },
    {
        "id": "1a65d3f5fd43e7ff",
        "type": "function",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "func": "msg.payload = msg.payload==\"true\"?\"Encendido\":\"Apagado\";\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 200,
        "wires": [
            [
                "0ac1dee14f134c28",
                "cf8675d01a5eca29"
            ]
        ]
    },
    {
        "id": "e15e5493bca9ee94",
        "type": "postgresql",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "query": "INSERT INTO sensor_details(sensor_id,user_id,value) VALUES(1,1, '{{msg.payload}}');",
        "postgreSQLConfig": "2304decd22577fdb",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 610,
        "y": 240,
        "wires": [
            [
                "1451eee8b2f5d2ed"
            ]
        ]
    },
    {
        "id": "cf8675d01a5eca29",
        "type": "function",
        "z": "6d2d0a66d746cf0c",
        "name": "",
        "func": "msg.payload = msg.payload=='Encendido'?1.0:0.0;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 220,
        "wires": [
            [
                "e15e5493bca9ee94",
                "5f566317a351b36b"
            ]
        ]
    },
    {
        "id": "5f566317a351b36b",
        "type": "ui_audio",
        "z": "6d2d0a66d746cf0c",
        "name": "Audio",
        "group": "d251153bd60f35bb",
        "voice": "Microsoft Sabina - Spanish (Mexico)",
        "always": true,
        "x": 730,
        "y": 160,
        "wires": []
    },
    {
        "id": "782a379ad3602d2a",
        "type": "node-red-contrib-whatsapp-cmb-send-message",
        "z": "cbb57be22a1f9111",
        "name": "Ceramica message",
        "credtype": "account",
        "account": "dddadcc2386205dc",
        "text": "payload",
        "phonenumbervalue": "",
        "apikeyvalue": "",
        "apikeyinputtypemessage": "msg",
        "phonenumberinputtypemessage": "msg",
        "inputtypemessage": "msg",
        "rejectssl": false,
        "x": 470,
        "y": 180,
        "wires": [
            [
                "b9c0ac9dc6ea39aa"
            ]
        ]
    },
    {
        "id": "b0b8fff32d0cdf9e",
        "type": "inject",
        "z": "cbb57be22a1f9111",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "87e2044c96fa1f29"
            ]
        ]
    },
    {
        "id": "b9c0ac9dc6ea39aa",
        "type": "debug",
        "z": "cbb57be22a1f9111",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 160,
        "wires": []
    },
    {
        "id": "87e2044c96fa1f29",
        "type": "template",
        "z": "cbb57be22a1f9111",
        "name": "Mensaje",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Peligro, Fuego!",
        "output": "str",
        "x": 280,
        "y": 100,
        "wires": [
            [
                "782a379ad3602d2a"
            ]
        ]
    }
]